/* Child components div's classes */

.Charts {
    display: flex;
    flex-direction: row;
    /* margin-bottom: 5px; */
    margin-top: 0px;
}

.Charts1 {
    display: flex;
    flex-direction: row;
    /* margin-bottom: 22px; */
    margin-top: -3px;
    margin-left: 77px;
}

/* All expand css here */

.expandclasses-wrapper {
    height: 451px;
    width: 621px;
    box-shadow: 0px 4px 4px rgb(224 226 229 / 25%);
    position: relative;
    border-radius: 8px;
    right: 0px;
    border: 1px solid #71BC4E;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 143px;
    box-shadow: 5px 5px 25px -5px rgb(36 35 35);
}

.expandschool-wrapper {
    height: 451px;
    width: 621px;
    box-shadow: 0px 4px 4px rgb(224 226 229 / 25%);
    position: relative;
    border-radius: 8px;
    right: 1px;
    border: 1px solid #E07CD0;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 67px;
    box-shadow: 5px 5px 25px -5px rgb(36 35 35);
}

.expandresources-wrapper {
    height: 451px;
    width: 621px;
    position: relative;
    right: -3px;
    box-shadow: 0px 4px 4px rgb(224 226 229 / 25%);
    border-radius: 8px;
    border: 1px solid #71BC4E;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 23px;
    box-shadow: 5px 5px 25px -5px rgb(36 35 35);
}

.expandteame-wrapper {
    height: 451px;
    width: 621px;
    box-shadow: 0px 4px 4px rgb(224 226 229 / 25%);
    position: relative;
    right: 0px;
    border-radius: 8px;
    border: 1px solid #F28080;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 33px;
    box-shadow: 5px 5px 25px -5px rgb(36 35 35);
}

.MyClaases-wrapper {
    height: 451px;
    width: 441px;
    left: 8px;
    position: relative;
    box-shadow: 0px 4px 4px rgb(224 226 229 / 25%);
    border-radius: 8px;
    border: 1px solid #71BC4E;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 264px;
    box-shadow: 5px 5px 25px -5px rgb(36 35 35);
}

.myteame-wrapper {
    height: 451px;
    width: 441px;
    box-shadow: 0px 4px 4px rgb(224 226 229 / 25%);
    border-radius: 8px;
    border: 1px solid #F28080;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 9px;
    left: 16px;
    position: relative;
    box-shadow: 5px 5px 25px -5px rgb(36 35 35);
}

.myresources-wrapper {
    height: 451px;
    width: 441px;
    left: 20px;
    position: relative;
    box-shadow: 0px 4px 4px rgb(224 226 229 / 25%);
    border-radius: 8px;
    border: 1px solid #21D2DD;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 17px;
    box-shadow: 5px 5px 25px -5px rgb(36 35 35);
}

.myschool-wrapper {
    height: 451px;
    width: 441px;
    left: 20px;
    position: relative;
    box-shadow: 0px 4px 4px rgb(224 226 229 / 25%);
    border-radius: 8px;
    border: 1px solid #E07CD0;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 175px;
    box-shadow: 5px 5px 25px -5px rgb(36 35 35);
}

.MyClaases-items {
    background: #71BC4E;
    /* width: 50%; */
    list-style: none;
    margin-left: -40px;
    padding-top: -5px;
    margin-right: -1px;
    padding-top: 5px;
    /* margin-bottom: 8px; */
    border-radius: 7px 7px 0px 0px;
    padding-bottom: 10px;
    margin-top: -1px;
    padding-left: 8px;
    padding-right: 2px;
}

.myteam-items {
    background: #F28080;
    /* width: 50%; */
    list-style: none;
    margin-left: -41px;
    margin-right: -1px;
    padding-top: -5px;
    padding-top: 5px;
    /* margin-bottom: 8px; */
    border-radius: 7px 7px 0px 0px;
    padding-bottom: 10px;
    margin-top: -1px;
    padding-left: 10px;
}

.myteam-head {
    /* width: 50%; */
    margin-top: -30px;
    color: white
}

.myresources-items {
    background: #21D2DD;
    list-style: none;
    margin-left: -41px;
    margin-right: -1px;
    padding-top: 5px;
    /* margin-bottom: 8px; */
    border-radius: 7px 7px 0px 0px;
    padding-bottom: 10px;
    margin-top: -1px;
    padding-left: 10px;
}

.myschool-items {
    background: #E07CD0;
    list-style: none;
    margin-left: -41px;
    margin-right: -1px;
    padding-top: -5px;
    padding-top: 5px;
    /* margin-bottom: 8px; */
    border-radius: 7px 7px 0px 0px;
    padding-bottom: 10px;
    margin-top: -1px;
    padding-left: 10px;
}

.MyClaases-head {
    margin-top: -30px;
    color: white
}

.myschool-head {
    margin-top: -30px;
    color: white
}

.myresources-head {
    margin-top: -30px;
    color: white
}

.MyClaasestext1 {
    padding-left: 6px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    margin-right: 45px;
    margin-left: 5px;
}

.myteamtext1 {
    padding-left: 6px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    margin-right: 45px;
    margin-left: 5px;
}

.myschooltext1 {
    padding-left: 6px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    margin-right: 45px;
    /* text-align: center; */
    margin-left: 5px;
}

.myresourcestext1 {
    padding-left: 6px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    margin-right: 45px;
    margin-left: 5px;
}

.myresourcestext2 {
    font-family: Roboto;
    font-size: 13px;
    line-height: 15px;
    margin-right: 20px;
    margin-left: 33px;
}

.myteamtext2 {
    font-family: Roboto;
    font-size: 13px;
    line-height: 15px;
    margin-right: 41px;
    margin-left: 10px;
    background: #F28080;
    color: white;
    border: none;

}

.MyClaasestext2 {
    font-family: Roboto;
    font-size: 13px;
    line-height: 15px;
    margin-right: 5px;
   
    border: none;
    background: #71BC4E;
    color: white;
    margin-left: -9px;

}

.myschooltext2 {
    font-family: Roboto;
    font-size: 13px;
    line-height: 15px;
    margin-right: 41px;
    margin-left: 20px;
}

.myschooltext3 {
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    float: right;
    margin-top: 5px;
    margin-right: 6px;
}

.myteamtext3 {
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    float: right;
    margin-top: 5px;
    margin-right: 6px;
}

.MyClaasestext3 {
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    float: right;
    margin-top: 5px;
    margin-right: 6px;
}

.myresourcestext3 {
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    float: right;
    margin-top: 5px;
    margin-right: 6px;
}

/* My Resouces chart content */

.ED-resource-content {
    display: flex;
    flex-direction: row;
}

.my-assesment {
    height: 180px;
    width: 50%;
    border-right: 1px solid #C4C4C4;
    list-style: none;
    /* padding-top: 20px; */
    margin-top: 20px;
    /* right: -11%; */
    /* position: relative; */
    /* margin-left: 28px; */
    padding: 10px;
    margin-right: 37px;
}

.my-rubics {
    height: 170px;
    width: 50%;
    list-style: none;
    margin-top: 20px;
    /* margin-left: -48px; */
    /* flex-direction: row; */
    /* right: -22%; */
    /* position: relative; */
    padding: 10px;
}

.head-assessment {
    margin-left: -20px;
    color: #21D2DD;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
}

.head-assessmenttext {
    margin-left: 10px;
}

.assessment1 {
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.assessmenttext1 {
    margin-left: 10px;
}

.footer-assessmenttext1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #A100FF;
}

.footer-assessment1 {
    margin-left: -20px;
}

/* Rubics chart css */

.head-rubics {
    margin-left: 40px;
    color: #21D2DD;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
}

.head-rubicsttext {
    margin-left: 10px;
}

.rubics1 {
    margin-left: 72px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.rubics1text1 {
    margin-left: 10px;
}

.footer-rubics1text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #A100FF;
}

.footer-rubics1 {
    margin-left: 40px;
}

/* Resource  buttons */

.ED-resource-buttons {
    display: flex;
    list-style: none;
    margin: 97px 13px 6px 23px
}

.ED-resource-buttons1 {
    display: flex;
    list-style: none;
    /* justify-content: center; */
    margin: 17px 12px 10px -12px;
}

.resourcebtn2 {
    margin: 11px 6px 0px 0px;
    font-style: normal;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.resourcebtn4 {
    margin: 11px 6px 0px 0px;
    font-style: normal;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.resourcebtn3 {
    margin: 11px 6px 0px 0px;
    font-style: normal;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.resource-button1 {
    width: 50%;
    height: 40px;
    background: #D4FCFF;
    border-radius: 2px;
    margin-left: -25px;
    margin-right: 10px;
}

.resourcebtn1 {
    margin: 11px 6px 0px 0px;
    font-style: normal;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.resource-button2 {
    width: 50%;
    height: 40px;
    background: #D4FCFF;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 20px;
}

.resource-button3 {
    width: 50%;
    height: 40px;
    background: #D4FCFF;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 12px;
    padding-left: 2px;
}

.resource-button4 {
    width: 50%;
    height: 40px;
    background: #D4FCFF;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 20px;
}

.footer-assessment1, .footer-rubics1 {
    font-weight: 500;
    font-size: 12px;
    color: #A100FF;
}
.resourcetxt1,.resourcetxt1,.rubicstxt1,.rubicstxt1
{
    margin-left: 7px;
}







.doughnut1, .doughnut2, .doughnut3 {
    height: 115px;
    width: 30%;
}

.doughnut-container {
    margin-top: 20px;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    margin-left: 22px;
}
.doughnut-container-expand{
    margin-top: 20px;
    display: flex;
    /* flex-direction: row; */
    /* align-items: start; */
    margin-left: 33px;
    justify-content:center;

}
.class-text2 {
    float: right;
    font-family: Roboto;
    font-size: 10;
    font-size: 10px;
    color: #7D8995;
    margin-right: 10px;
}

.class-text1 a {
    color: #F28080;
    font-family: Roboto;
    font-size: 13;
}

.class-text1{
    font-family: Roboto;
    font-size: 13px;
    margin-left: 10px;  
}
/* .doughnut-warpper{
    justify-content: center;
} */

.classbtn-container {
    /* width: 50%;
    height: 40px; */
    background: #D4FCFF;
    border-radius: 2px;
    margin-left: 20px;
    margin-right: 10px;
}

.myclassbutton1 {
    display: flex;
    flex-direction: row;
}

.bar1 {
    display: flex;
    width: 430px;
    height: 200px;
}

.bar2 {
    display: flex;
    width: 430px;
    height: 200px;
    margin-left: 70px;
}

.horizantal-container {
    display: flex;
    justify-content: center;
}
#school-highlight
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #E07CD0;
    float: left;
    margin-left: 10px;
}

.horizantal-bar {
    width: 430px;
    height: 200px;
    margin-left: -122px;
    margin-top: 50px;
}

.sample {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    /* Secondary Font Color */
    color: #7D8995;
}
.sample1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    /* Secondary Font Color */
    color: #7D8995;
}
.sampletxt1
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #7D8995;
    margin-left: 6px;
}
.sampletxt2
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #7D8995;
    margin-left: 19px;
}



/* MyTeames  buttons */

.ED-myteam-buttons {
    display: flex;
    list-style: none;
    margin: 126px 14px 6px 52px
}

.ED-myteam-buttons1 {
    display: flex;
    list-style: none;
    /* justify-content: center; */
    margin: 17px 12px 10px 16px;
}

.myteambtn2 {
    margin: 11px 6px 0px 0px;
    font-style: normal;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.myteambtn4 {
    margin: 11px 6px 0px 0px;
    font-style: normal;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.myteambtn3 {
    margin: 11px 6px 0px 0px;
    font-style: normal;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.myteam-button1 {
    width: 50%;
    height: 40px;
    background: #FFE3E3;
    border-radius: 2px;
    margin-left: -25px;
    margin-right: 10px;
}

.myteambtn1 {
    margin: 11px 6px 0px 0px;
    font-style: normal;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.myteam-button2 {
    width: 50%;
    height: 40px;
    background: #FFE3E3;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 20px;
}

.myteam-button3 {
    width: 50%;
    height: 40px;
    background: #FFE3E3;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 12px;
    padding-left: 2px;
}

.myteam-button4 {
    width: 50%;
    height: 40px;
    background: #FFE3E3;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 20px;
    font-style: normal;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}
.myteamtxt1,.myteamtxt3,.myteamtxt4{margin-left: 7px;}

.myteamtxt2{
    margin-left: -1px;
}

/* My Classes Buttons */

.myclass-button3 {
    width: 50%;
    height: 40px;
    background: #CDF4BA;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 12px;
    padding-left: 2px;
}

.myclass-button4 {
    width: 50%;
    height: 40px;
    background: #CDF4BA;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 20px;
}
.myclassbtn4 {
    margin: 11px 6px 0px 0px;
    font-style: normal;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

.myclassbtn3 {
    margin: 11px 6px 0px 0px;
    font-style: normal;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #000000;

}
.ED-myclass-buttons1 {
    display: flex;
    list-style: none;
    /* justify-content: center; */
    margin: 20px 12px 10px 16px;
}

.myclasstxt3,.myclasstxt4{
    margin-left: 7px;
}
.myclassestext3-comp {
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    float: right;
    margin-right: 7px;
    margin-top: 4px;
}
/* Team dropdown */
.team-dropdown-main{
    position: absolute;
    width: 237px;
    height: 226px;
    background-color: white;
    color: black;
    list-style: none;
    right: 325px;
    top: 118px;
    box-shadow: 0px 3px 3px rgb(100 100 100);
}



.teamdrop-footer{
    margin-top: 16px;
    margin-right: 7px;
}

.team-clr{
    margin-left: -32px;
    color: #A7A7A7;
    cursor: pointer;
    font-size: 12px;
    font-style: normal;
    font-family: Roboto;
    border: none;
    background: white;
    outline: none;

}
.team-clr-active{
    margin-left: -34px;
    color: #F28080;
    cursor: pointer;
    margin-left: -32px;
    
    outline: none;
    border: none;
    font-size: 12px;
    font-style: normal;
    font-family: Roboto;
    background: white;
}

.team-view-select{
    margin-left: 83px;
    /* margin-top: 21px; */
    margin-bottom: 3px;
}

.teamdropdownlist-item{
    margin-bottom: 0px;
    margin-left: -30px;
    margin-top: 11px;
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #7D8995;
} 
.teamdrop-radio{
    margin-right: 7px;
}
.t1,.t2,.t3,.t4,.t5{
    margin-right: 61px;
}



.teamviewbtn{
    background: #F28080;
    color: white;
}


/* Class dropdown */
.class-dropdown-main {
    position: absolute;
    width: 237px;
    height: 255px;
    background-color: white;
    color: black;
    list-style: none;
    left: 163px;
    border-radius: 7px;
    top: 36px;
    box-shadow: 0px 3px 3px rgb(100 100 100);
    /* border: 1px solid black; */
}


.class-drop-down-compress {
    position: absolute;
    width: 237px;
    height: 257px;
    border-radius: 7px;
    background-color: white;
    color: black;
    list-style: none;
    left: 137px;
    box-shadow: 0px 3px 3px rgb(100 100 100);
    top: 33px;
    /* border: 1px solid black; */
}
.drop-footer{
    margin-top: 19px;
}
.class-clr {
    margin-left: -32px;
    color: #A7A7A7;
    cursor: pointer;
    font-size: 12px;
    font-style: normal;
    font-family: Roboto;
    border: none;
  
    background: white;
 
    outline: none;
}
.class-clr-active{
    margin-left: -32px;
    color: #71BC4E;
    outline: none;
    border: none;
    font-size: 12px;
    font-style: normal;
    font-family: Roboto;
    background: white;

}
.classviewbtn-disable {
    border: 2px;
    background: #a7a7a7;
    color: white;
    /* outline: none; */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    font-family: Roboto;
    width: 95px;
    height: 29px;
}
.classviewbtn-active{
    background: #71BC4E;
    color: white;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    font-family: Roboto;
    width: 95px;
    height: 29px;
    border: 2px;

}

.class-view-select{
    margin-left: 83px;
    /* margin-top: 21px; */
    margin-bottom: 3px;
}

.dropdownlist-item{
    margin-bottom: 0px;
    margin-left: -30px;
    margin-top: 11px;
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #7D8995;
    cursor: pointer;
}
.classdrop-radio{
    margin-right: 7px;
}
.d1,.d2,.d3,.d4,.d5{
    margin-right: 61px;
}

/* My School Buttons */

.myschool-button3 {
    width: 50%;
    height: 40px;
    background:#F8D8F2;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 12px;
    padding-left: 2px;
}

.myschool-button4 {
    width: 50%;
    height: 40px;
    background: #F8D8F2;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 20px;
}
.myschoolbtn4 {
    margin: 11px 6px 0px 0px;
    font-style: normal;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

.myschoolbtn3 {
    margin: 11px 6px 0px 0px;
    font-style: normal;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #000000;

}
.ED-myschool-buttons1 {
    display: flex;
    list-style: none;
    /* justify-content: center; */
    margin: 84px 12px 10px 16px;
}
.myschooltxt3,.myschooltxt4{
    margin-left: 7px;
}






.class-progressbar .progress{
    height: 7px;
    width: 50%;
    margin-left: 153px;
    margin-top: -12px;
}
.progresstext1{
    font-size: 13px;
    color: #7D8995;
    margin-left: 10px;
}
.progress-parents{
    flex-direction: column;
}
.barpercent{
    color: rgb(125, 137, 149);
    font-size: 13px;
    float: right;
    margin-top: -17px;
    /* margin-right: 46px; */
    padding-right: 28px;
}
.class-previous{
    font-weight: 500;
    font-size: 13px;
    color: #545454;
    float: left;
    margin-left: 15px;
}
.class-details{
    font-weight: 500;
    font-size: 12px;
    color: #A100FF;
    float: right;
    margin-right: 15px;
}