.team-dropdown-main {
    position: absolute;
    border-radius: 7px;
    width: 237px;
    height: 255px;
    background-color: white;
    color: black;
    list-style: none;
    right: 180px;
    top: 36px;
    border: 1px solid black;
}
.team-drop-down-compress{
    position: absolute;
    width: 237px;
    height: 255px;
    background-color: white;
    color: black;
    list-style: none;
    right: 240px;
    top: 133px;
    border: 1px solid black;
    border-radius: 7px;
}
.teamdropdownlist-item input[type='radio'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
  border-color: #F28080;
  float: left;
  }
  
  .teamdropdownlist-item input[type='radio']:hover {
    box-shadow:0 0 5px 0px #F28080;
    background-color: #F28080;
    content: url('./../assets/icons/radio-checked.svg');
    padding: 4px;
    cursor: pointer;
  }
  
  .teamdropdownlist-item input[type='radio']:before {
    content:'';
    display:block;
    width: 90%;
    height: 90%;
    margin: 4%;  
    border-radius:50%;   
  }
  .teamdropdownlist-item input[type='radio']:checked:before {
    background:#F28080;
    
  }


.myteams-checked-radio{
    margin-left: -22px;
    margin-top: -3px;
}

.myteams-options{
    margin-left: 15px;
    margin-right: 20px;
}
.MyClaasestext2{
    margin-left: 0px;
}
