.team-dropdown-main {
    position: absolute;
    border-radius: 7px;
    width: 237px;
    height: 255px;
    background-color: white;
    color: black;
    list-style: none;
    right: 180px;
    top: 36px;
    box-shadow: 0px 3px 3px rgb(100 100 100);
}
.team-drop-down-compress {
  position: absolute;
  width: 237px;
  height: 255px;
  background-color: white;
  color: black;
  list-style: none;
  right: 56px;
  top: 32px;
  box-shadow: 0px 3px 3px rgb(100 100 100);
  border-radius: 7px;
}
.teamdropdownlist-item input[type='radio'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
  border-color: #F28080;
  float: left;
  }
  
  .teamdropdownlist-item input[type='radio']:hover {
    box-shadow:0 0 5px 0px #F28080;
    background-color: #F28080;
    content: url('./../assets/icons/radio-checked.svg');
    padding: 4px;
    cursor: pointer;
  }
  
  .teamdropdownlist-item input[type='radio']:before {
    content:'';
    display:block;
    width: 90%;
    height: 90%;
    margin: 4%;  
    border-radius:50%;   
    cursor: pointer;
  }
  .teamdropdownlist-item input[type='radio']:checked:before {
    background:#F28080;
    
  }


.myteams-checked-radio{
    margin-left: -22px;
    margin-top: -3px;
}

.myteams-options{
    margin-left: 15px;
    margin-right: 20px;
    cursor: pointer;
}
.MyClaasestext2{
    margin-left: 0px;
}
.teamviewbtn-disable{
  border: 2px;
  background: #a7a7a7;
  color: white;
  /* outline: none; */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  font-family: Roboto;
  width: 95px;
  height: 29px;
}
.teamviewbtn-active{
  background: #F28080;
    color: white;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    font-family: Roboto;
    width: 95px;
    height: 29px;
    border: 2px;
}
.team_drop_indicator{
  position: relative;
  top: 16px;
  left: -11px;
}
.team-drop-indicator-compress{
  position: relative;
  top: 13px;
  left: -11px;
}